.all-jobs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(50% - 10px); /* 50% width minus half of the gap */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    justify-content: space-between; /* Space out content and button */
  }
  
  .job-details {
    margin-bottom: 15px;
   /* Allows job details to take up available space */
  }
  
  .apply-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-start; /* Optionally align the button to the left */
  }
  .apply-button:hover {
    background-color: #0d7c11;
    
  }
  
  .apply-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .applied {
    background-color: #cccccc;
  }
  
  
  /* Rest of the CSS remains the same */
  
  @media (max-width: 768px) {
    .job-card {
      width: 100%; /* Full width on smaller screens */
    }
  }
  
.h2 {
  color: #286ea7;
  text-align: start;
  margin-bottom: 30px;
  font-size: 18px;
}
  
  .job-header-alljobs {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .job-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .hired {
    background-color: #ff4444;
    color: white;
  }
  
  .not-hired {
    background-color: #4CAF50;
    color: white;
  }

  
  .job-skills {
    margin-top: 15px;
    flex-grow: 1;
  }
  
  .skill {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.9em;
  }
  
  
  @media (max-width: 768px) {
    .job-card {
      width: 100%;
    }
  }